[core]
    editor = nvim
	autocrlf = false
[alias]
    co = checkout
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[fetch]
    prune = true
[user]
	email = geert.theys@gmail.com
	name = Geert Theys
[safe]
	directory = C:/Users/geert/code/Windots
